<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button size="large"(click)="onLogout()">Logout</ion-button>
  <ion-button size="large"routerLink="/admin">Admin</ion-button>

</ion-content>
