<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-item>
		<ion-label> Email</ion-label>
		<ion-input type="text"[(ngModel)]="user.email"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label> Password</ion-label>
		<ion-input type="password"[(ngModel)]="user.password"></ion-input>
	</ion-item>

	<ion-item-divider>
		<ion-button size="large" (click)="onRegister()">Register</ion-button>
		<ion-button size="large" routerLink="/login">Login</ion-button>
	</ion-item-divider>

</ion-content>
